{% load static %}
<html>

<head>
    <title>les Pokémon de Jean-Baptiste Attié</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> 

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    
    <div class="page-header">
        <h1><a href="/"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/946b6c8a-d47d-4e3a-b89c-ec4d2c0e7fd5/d6j8pic-c0633142-2a0e-439d-a436-68b5370dfed4.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzk0NmI2YzhhLWQ0N2QtNGUzYS1iODljLWVjNGQyYzBlN2ZkNVwvZDZqOHBpYy1jMDYzMzE0Mi0yYTBlLTQzOWQtYTQzNi02OGI1MzcwZGZlZDQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.DuGQES0VHYX__jl3zJQgqqlUbyKE-yE9yQkTt7Efje8" width="90" height="75"> les Pokémon de Jean-Baptiste Attié </a></h1>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>
